<div id="content" class="color_profile">
	<div class="clear"></div>
		
	<div id="whole" class="content_area">
		<div class="profile_border">
			<div class="profile_name">All Users</div>
			<div class="clear"></div>
			
			<div class="profile_description">
			<% if current_user.is_admin? %>
				<ul class="tabs">
					<li><a href="#tab1">Participants</a></li>
					<li><a href="#tab2">Organization Leaders</a></li>
					<li><a href="#tab3">Administrators</a></li>
				</ul>

				<div class="tab_container">
					<div class="clear"></div>
					<div id="tab1" class="tab_content">
						<%= render :partial => 'users/all_participants' %>	
					</div>
					
					<div id="tab2" class="tab_content">
					   <%= render :partial => 'users/all_orgleaders' %>	
					</div>
					
					<div id="tab3" class="tab_content">
					   <%= render :partial => 'users/all_admins' %>	
					</div>
					
					
				</div>
			<% elsif current_user.is_orgleader?%>
				<%= render :partial => 'users/all_participants' %>	
			<% end %>
				<div class="clear"></div>
			</div>
		</div>
		<div class="align_right">
			<div class="button"><%= link_to 'Back', organizations_path %></div>
		</div>
	</div>
				
	<div class="clear"></div>
</div> 

<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
</script>