<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br />
    <%= f.text_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :response_value %><br />
    <%= f.text_area :response_value %>
  </div>
  <div class="field">
    <%= f.label :checkpoint_user_id %><br />
    <%= f.text_field :checkpoint_user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
