<%= form_for(@snapshot) do |f| %>
  <% if @snapshot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snapshot.errors.count, "error") %> prohibited this snapshot from being saved:</h2>

      <ul>
      <% @snapshot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :measurement_category_id %><br />
    <%= f.text_field :measurement_category_id %>
  </div>
  <div class="field">
    <%= f.label :checkpoint_id %><br />
    <%= f.text_field :checkpoint_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :percent_score %><br />
    <%= f.text_field :percent_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
