<div id="content" class="color_checkpoints">
	<div class="clear"></div>
		
	<div id="whole" class="content_area">
		<div class="checkpoints_border">
			<div class="checkpoints_title">Measurements</div>
			<div class="checkpoints_name">All Measurements</div>
			<div class="clear"></div>
			
			<div class="checkpoints_description">
				<hr />
				<% @measurements.each do |measurement| %>
				
				<div class="checkpoints_item_header">Name</div>
				<div class="checkpoints_item_value"><%= measurement.name %></div>
				
				<div class="checkpoints_item_header">Description</div>
				<div class="checkpoints_item_value"><%= measurement.description %></div>
				
				<div class="checkpoints_item_header">Active</div>
				<div class="checkpoints_item_value"><%= measurement.active %></div>
				
				<div class="checkpoints_item_header">Category</div>
				<div class="checkpoints_item_value"><%= measurement.measurement_category.title %></div>

				<div class="clear"></div>
				
				<div class="button"><%= link_to 'Manage Questions', '/questions/new/' + measurement.id.to_s %></div>
				<div class="button"><%= link_to 'View Results', measurement_results_path(measurement.id) %></div>
				<div class="button"><%= link_to 'Details', measurement %></div>
				<div class="button"><%= link_to 'Edit', edit_measurement_path(measurement) %></div>
				<div class="button"><%= link_to 'Delete', measurement, :confirm => 'Are you sure?', :method => :delete %></div>				

				<div class="clear"></div>
				<hr />
				
				<% end %>
			</div>
			<div class="clear"></div>
		</div>
		
		
		<div class="align_right">
			<div class="button"><%= link_to 'New Measurement', new_measurement_path %></div>
			<div class="button"><%= link_to 'Back to Checkpoints', checkpoints_path %></div>
		</div>
	</div>
				
	<div class="clear"></div>
</div>