<div id="content" class="color_checkpoints">
	<div class="clear"></div>
		
	<div id="whole" class="content_area">
		<div class="checkpoints_border">
			<div class="checkpoints_title"><%= @measurement.name %></div>
			<div class="checkpoints_name">Participant Results</div>
			<div class="clear"></div>
			
			<div class="checkpoints_description">			
			
				<% # ITERATE OVER QUESTIONS FOR THIS MEASUREMENT %>
				<% @questions.each do |qn| %>
					<div class="measurement_result_question">
						<fieldset class="checkpoint_response">
						<legend class="datatable_title"><%= qn.content %></legend>
						
						<table cellpadding="0" cellspacing="0" border="0" class="display" id="datatable_<%= qn.id %>">
							<thead>
								<tr>
									<th>Participant</th>
									<th>Organization</th>
									<th>Date</th>
									<th>Response</th>
									<th>Score</th>
									<th>Max Score</th>
									<th>Score %</th>
								</tr>
							</thead>
							<tbody>

						
						<%	# DISPLAY ALL RESPONSES FOR THIS QUESTION %>
						<% @response_set = qn.responses.reject{|rsp| !rsp.is_complete?} %>
						<% i = 0 %>
						<% @response_set.each do |resp| %>
							<%
								usr = resp.user 
								qopts = qn.question_options
								i += 1
							%>
								
							<tr>
								<td align="center"><%= usr.full_name %></td>
								<td align="center"><%= usr.organizations.first.name %></td>
								<td align="center"><%= resp.checkpoint.due_on.strftime("%m/%d/%y") %></td>
								<td align="center"><%= resp.readable_response_value %></td>
								<td align="center"><%= resp.points_earned %></td>
								<td align="center"><%= resp.points_total%></td>
								<td align="center"><%= resp.percent_score%>%</td>
							</tr>					
		
						<% end %>		
						</table>
						
						<script>datatable_init("datatable_<%= qn.id %>")</script>
						</fieldset>
					</div>
					<div class="clear"></div>	
				<% end %>
			</div>
		</div>			

	</div>
 
	<div class="clear"></div>
</div>