<div id="content" class="color_events">
	<div class="clear"></div>
		
	<div id="whole" class="content_area">
		<div class="event_border">
			<div class="event_title">Locations</div>
			<div class="event_name">All Locations</div>
			<div class="clear"></div>
			
			<div class="event_description">
				<hr />
				<% @locations.each do |location| %>

				<div class="event_item_header">Name</div>
				<div class="event_item_value"><%= location.name %></div>			
				
				<div class="event_item_header">Street</div>
				<div class="event_item_value"><%= location.street %></div>
				
				<div class="event_item_header">City</div>
				<div class="event_item_value"><%= location.city %></div>

				<div class="event_item_header">State</div>
				<div class="event_item_value"><%= location.state %></div>			
			
				<div class="event_item_header">Description</div>
				<div class="event_item_value"><%= location.description %></div>

				<div class="event_item_header">Active</div>
				<div class="event_item_value"><%= location.active %></div>

				<div class="clear"></div>
				
				<div class="button"><%= link_to 'Show', location %></div>
				<div class="button"><%= link_to 'Edit', edit_location_path(location) %></div>
				<div class="button"><%= link_to 'Delete', location, :confirm => 'Are you sure?', :method => :delete %></div>
				
				<div class="clear"></div>
				<hr />
				
				<% end %>
				
				<div class="clear"></div>
			</div>		
		</div>
		
		<div class="clear"></div>
		<div class="align_right">
			<div class="button"><%= link_to 'Create New Location', new_location_path %></div>
			<div class="button"><%= link_to 'Events Main Page', events_path %></div>
		</div>		
	</div>
						
	<div class="clear"></div>
</div>